body {
  font-family: Arial;
  text-align: center;
  background: #1e1e2f;
  color: white;
}

.screen {
  display: none;
  padding: 40px;
}

.active {
  display: block;
}

button {
  display: block;
  margin: 10px auto;
  padding: 10px 20px;
  font-size: 16px;
  border-radius: 8px;
  border: none;
  cursor: pointer;
}


.topbar {
  display: flex;
  justify-content: space-around;
  margin-bottom: 20px;
  font-size: 18px;
}

#timer {
  color: orange;
  font-weight: bold;
}
